$orange: #f37b1d;
$red: #dd514c;
$yellow: #fad232;
$green: #5eb95e;
$blue: #1f8dd6;
$purple: #8058a5;
$background: #f4f4f4;

@mixin link {
  list-style: none;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f4f4f4;
}
::-webkit-scrollbar {
  width: 1.3vw;
}
::-webkit-scrollbar-track {
  background: $background;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient($yellow, $green);
  border-radius: 20px;
  border: 1px solid $background;
}

.nav {
  color: $orange;
  position: fixed;
  width: 100%;
  padding: 1vh 2vw 1vh 2vw;
  margin-bottom: 2.5vh;
  display: block;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  font-size: 2.7ch;
  font-weight: 700;
  @include link;
  .small {
    font-size: 1.6ch;
  }
  a {
    text-decoration: none;
    color: $orange;
    text-shadow: 1px 1px 0px $yellow, 2px 2px 0px $green, 3px 3px 0px $blue,
      4px 4px 0px $purple;
    &:hover {
      color: #ec9d61;
    }
  }
}
.right {
  position: relative;
  font-size: 2.3ch;
  font-weight: 700;
  @include link;
  a {
    text-decoration: none;
    color: $orange;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2.5px;
      border-radius: 20px;
      background: $orange;
      transition: transform 200ms cubic-bezier(0.1, 0.9, 1, 1);
      transform: scaleX(0);
    }
    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.nav-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 2vh 0;
  font-weight: 600;
  li {
    position: relative;
    margin: 0 1vw 0 1vw;
    @include link;
    a {
      @include link;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2.5px;
        border-radius: 20px;
        background: currentColor;
        transition: transform 200ms cubic-bezier(0.1, 0.9, 1, 1);
        transform: scaleX(0);
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
    .Cehu {
      color: $red;
    }
    .geo {
      color: $green;
    }
    .obj {
      color: $blue;
    }
  }
}

.cont {
  position: relative;
  top: 13vh;
}

/*.links {
  margin
  display: flex;
  justify-content: space-around;
}*/

.container {
  background: #ffffff;
  margin: 3.5vh 0 3.5vh 0;
  padding: 3.5vh 0 3.5vh 0;
}
.about,
.geography,
.obiective {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    filter: blur(0.5px);
  }
  .title {
    color: $background;
    margin: 2.5vh 0 1vh 0;
    text-align: center;
    font-size: 2.7ch;
    font-weight: 600;
    border-radius: 20px;
  }
  .content {
    margin: 0 0 3vh 0;
  }
}

.about {
  .title {
    background: linear-gradient(90deg, $red, $orange);
  }
}

.geography {
  .title {
    background: linear-gradient(90deg, $green, $yellow);
  }
  img {
    filter: blur(0);
  }
}

@media screen and (min-width: 913px) {
  nav {
    margin-bottom: 4vh;
  }
  .about,
  .geography {
    display: flex;
    width: 95%;
    align-items: center;
    .content {
      margin: 0 0 0 1ch;
      font-size: 2ch;
    }
    .title {
      margin: 0 0 1ch 1ch;
      padding: 2.5vh 0 2.5vh 0;
      font-size: 2.7ch;
      font-weight: 600;
      color: $background;
    }
    img {
      height: 75vh;
    }
  }
}

.obiective {
  width: 100%;
  background: linear-gradient(90deg, $purple, $blue);
  padding: 0.01vh 0 0.01vh 30px;
  color: $background;
}
